/*--footer-start--*/
.clearFix:before,.clearFix:after{
	content:"";
	display:block;
	clear:both;
}
.footer {
	padding: 3em 0px;
	background: #222;
}
.map-marker {
	display: inline-block;
	vertical-align: middle;
	color: #fff;
	font-size: 30px;
	padding: 0 !important;
	margin-right: 12px;
	border: none;
}
.footer .f-left{
	width: 70%;
}
.footer .f-right{
	width: 30%;
}
.footer .f-right p{
	margin-left: 100px;
}
.footer-left{
	float: left;
	margin-top: -36px;
}
.footer-left p {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
	display: inline-block;
	font-family: 'Play-Regular';
	margin:4px;
}
.footer-left p a{
	color:#fff;
	text-decoration: none;
}
.footer-left p a:hover{
	color:#05a6b3;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
}
/*--footer-end--*/