*{
	margin :0px;
	padding :0px;
}
/*header*/
.header{
	min-width: 922px;
	height :156px;
	background-image: url("images/bg.jpg");
}
/*header-content*/
.header .content{
	width: 922px;
	height :156px;
	margin: 0 auto;
}
/*header-content-top*/
.header .content .top{
	height :124px;
}
.header .content .top img{
	margin-top: 36px;
}
/*header-content-bottom*/
.header .content .bottom{
	height :32px;
}
.header .content .bottom ul{
	margin-left: 16px;
}
.header .content .bottom ul li{
	list-style: none;
	float :left;
	width: 89px;
}
.header .content .bottom ul li a{
	color:#000000;
	text-decoration: none;
}
.header .content .bottom .search{
	width :101px;
	height:19px;
	border-left :1px solid #80827d;
	border-top :1px solid #80827d;
	border-right :1px solid #d5d6ce;
	border-bottom :1px solid #d5d6ce;
	float :left;
	margin-left: 60px;
}
.header .content .bottom .search .search1{
	width:100px;
	height :19px;
	outline: none;
	border-left :1px solid black;
	border-top :1px solid black;
	background-color: #f8ffed;
	margin-right: 9px;
}
.header .content .bottom  .box{
	width: 21px;
	height :21px;
	float :right;
	border-radius: 21px;
	background-color: #b8d159;
	text-align: center;
	line-height: 21px;
	color :white;
	border :none;
	outline: noneï¼›
}
/*banner*/
.banner{
	width: 922px;
	height :210px;
	margin: 0 auto;
}
.banner img{
	margin-top:21px;
}
/*container*/
.container{
	min-width: 922px;
	height: 347px;
	width: 922px;
	margin: 0 auto;
}
/*container-left*/
.container .left{
	width: 240px;
	height :283px;	
	background-color: #f0f0f0;
	float :left;
	margin-top: 24px;
}
.container .left img{
	margin-top: 10px;
	margin-left: 10px;
}
.container .left .c-l-box{
	margin-left: 10px;
	width: 217px;
	height: 224px;
	border :1px solid #dfdfdf;
	background-color: #fff;
}
.container .left .c-l-box form{
	padding-left: 23px;
	padding-top: 19px;
}
.container .left .c-l-box input{
	width :114px;
	height: 20px;
	margin-top: 5px;

}
.container .left .c-l-box select{
	margin-top: 5px;
}
.container .left .c-l-box .text1{
	width :45px;
	margin-top: 5px;
}
.container .left .c-l-box .c-l-img{
	width: 50px;
	height: 13px;
}
.container .left .c-l-box .submit{
	width :38px;
	height: 21px;
	margin-left: 72px;
}
.container .left .c-l-box hr{
	width: 190px;
	margin :0 auto;
	margin-top: 10px;
}
.container .left .c-l-box .icon7{
	
	float :left;
	margin-top: 20px;

}
.container .left .c-l-box p{
	float :left;
	margin-top: 6px;
	font-size: 12px;
	margin-left: 10px;
}
/*container-center*/
.container .center{
	width: 372px;
	float :left;
	height :283px;
}
.container .center h3{
	border-bottom: 1px solid #e0e0e0;
	width: 301px;
	margin-top: 29px;
	margin-left: 37px;
	height: 32px;
	color :#b3887f;
}
.container .center ul{
	margin-top: 20px;
	margin-left: 48px;
	width: 370px;
	font-size: 13px;
}
.container .center ul li{
	height:20px;
}
.container .center .a1{
	float:right;
	font-size: 14px;
	margin-right: 47px;
	margin-top: 10px;
	color :#88944a;
	text-decoration: underline;
}
.container .center a{
	text-decoration: none ;
	color :black;
}
/*container-right*/
.container .right{
	width: 301px;
	float :left;
	height :283px;
}
.container .right h3{
	border-bottom: 1px solid #e0e0e0;
	width: 301px;
	margin-top: 29px;
	height: 32px;
	color :#b3887f;
}
.container .right ul{
	margin-top: 20px;
	margin-left: 11px;
	width: 301px;
	font-size: 13px;
}
.container .right ul li{
	height:20px;
} 
.container .right .a1{
	float:right;
	font-size: 14px;
	margin-top: 10px;
	color :#88944a;
	text-decoration: underline;
}
.container .right a{
	text-decoration: none ;
	color :black;
}
/*footer*/
.footer{
	min-width: 922px;
	height: 233px;
	margin :0 auto;
	background-image: url("images/bg1.gif")
}
/*footer-top*/
.footer .top{
	height: 130px;
	width: 922px;
	margin: 0 auto;
}
.footer .top ul li{
	float :left;
	width: 259px;
	text-align: center;
}
.footer .top .f-t-1{
	width: 202px;
	height: 47px;
	float :left;
	text-align: center;
	border-right: 1px solid gray;
	margin-top: 44px;
	padding-top: 10px;
	color:gray;
}
.footer .top .f-t-1 a{
	color :gray;
}
.footer .top a{
	color:black;
	text-decoration: none;
}
.footer .top .f-t-2{
	width: 258px;
	height: 47px;
	float :left;
	text-align: center;
	border-right: 1px solid gray;
	margin-top: 44px;
	padding-top: 10px;
}
.footer .top .f-t-2 img{
	float :left;
	margin-left: 38px;
}
.footer .top .f-t-3{
	width: 258px;
	height: 47px;
	float :left;
	text-align: center;
	border-right: 1px solid gray;
	margin-top: 44px;
	padding-top: 10px;
}
.footer .top .f-t-3 img{
	float :left;
	margin-left: 38px;
}
.footer .top .f-t-4{
	width: 201px;
	height: 47px;
	float :left;
	text-align: center;
	margin-top: 44px;
	padding-top: 10px;
}
.footer .top .f-t-4 img{
	float :left;
	margin-left: 38px;
}
/*footer-bottom*/
.footer .bottom{
	height: 103px;
	width: 922px;
	margin: 0 auto;
	font-size: 12px;
}
.footer .bottom ul{
	margin-top: 22px;
}
.footer .bottom ul li{
	float :left;
	list-style: none;
	text-align: center;

}
.footer .bottom  a{
	color :gray;
	text-decoration: none;
}
.footer .bottom .f-b-1{
	width: 89px;
	height: 15px;
	border-right: 1px solid gray;
} 
.footer .bottom .f-b-2{
	width: 162px;
	height: 15px;
	border-right: 1px solid gray;
} 
.footer .bottom .f-b-3{
	width: 127px;
	height: 15px;
}
.footer .bottom .f-b-4{
	margin-top: 18px;
}
.footer .bottom .f-b-4 p{
	float:right;
	margin-right: 27px;
	color :gray;
}
.footer .bottom .f-b-4 .f-b-4-1{
	color:#636b42;
}

